body {
  background-color: rgb(246, 255, 240);
}

.calculator {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  border-radius: 5px;
  border: solid;
}

.display {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.display * {
  width: 90%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.result {
  height: 50%;
  color: rgb(160, 160, 160);
  font-size: 30px;
}

.operation {
  width: 5%;
}

.currentNumber {
  height: 50%;
  color: white;
  font-size: 40px;
  background-color: black;
}

input {
  background-color: black;
  border: 0;
  height: 50%;
  text-align: right;
}

.keyboard {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 125px 125px 125px 125px;
}

.btn {
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(207, 200, 191);
}

.btn:hover {
  background-color: rgb(228, 216, 201);
}

.btn:active {
  background-color: rgb(192, 148, 95);
}